*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    box-sizing: inherit;
}


.blender{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 250px;
    height: 500px;
    background-color: red;
    background-image: url("../img/licuadoraApagada.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.blender.active{
    background-image: url("../img/licuadoraEncendida.gif");
}
.blender-button{
    width: 70px;
    height: 70px;
    margin: 350px auto;
}